* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("../../static/stratosskyengweb-regular.woff2") format("woff2"), url("../../static/stratosskyengweb-regular.woff") format("woff");
}
:root {
  --layout-width: 1024;
  --layout-height: 774;
  --layout-aspect: 1.322997416;
  --layout-background: #004980;
  --page-width: 1024;
  --page-height: 774;
}

body {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--layout-background);
}

@media (orientation: landscape) {
  :root {
    --page-width: calc(100vh * var(--layout-aspect));
    --page-height: 100vh;
  }
}
@media (orientation: portrait) {
  :root {
    --page-width: 100vw;
    --page-height: calc(100vw / var(--layout-aspect));
  }
}
.dialog {
  width: calc(480 * var(--page-width) / var(--layout-width));
  height: calc(459 * var(--page-height) / var(--layout-height));
  background: #C2F5FF;
  border-radius: min(12 * var(--page-width) / var(--layout-width), 12 * var(--page-height) / var(--layout-height));
  border: none;
  left: 50%;
  top: 50%;
  margin-left: calc(-480 * var(--page-width) / var(--layout-width) / 2);
  margin-top: calc(-459 * var(--page-height) / var(--layout-height) / 2);
}
.dialog__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dialog-difficulty {
  width: 100%;
  height: 100%;
}
.dialog-difficulty__fieldset {
  border: none;
  display: flex;
  flex-flow: column nowrap;
  row-gap: calc(48 * var(--page-height) / var(--layout-height));
  align-items: center;
  justify-content: center;
  align-content: center;
}
.dialog-difficulty__legend {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: calc(40 * var(--page-height) / var(--layout-height));
  line-height: calc(48 * var(--page-height) / var(--layout-height));
  color: #004980;
  width: calc(210 * var(--page-width) / var(--layout-width));
  text-align: center;
}
.dialog-difficulty__radio-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  -moz-column-gap: calc(24 * var(--page-width) / var(--layout-width));
       column-gap: calc(24 * var(--page-width) / var(--layout-width));
}
.dialog-difficulty__radio, .dialog-difficulty__radio:focus, .dialog-difficulty__radio:active, .dialog-difficulty__radio:checked {
  outline: none;
}
.dialog-difficulty__radio {
  width: calc(98 * var(--page-width) / var(--layout-width));
  height: calc(98 * var(--page-height) / var(--layout-height));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #FFFFFF;
  border-radius: min(12 * var(--page-width) / var(--layout-width), 12 * var(--page-height) / var(--layout-height));
  transition: background-color 0.2s linear;
}
.dialog-difficulty__radio:checked {
  background: #AAAAAA;
}
.dialog-difficulty__radio:focus {
  border: calc(5 * var(--page-width) / var(--layout-width)) solid #98f100;
}
.dialog-difficulty__radio:hover {
  background-color: #dddddd;
}
.dialog-difficulty__radio-label {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: calc(64 * var(--page-height) / var(--layout-height));
  line-height: calc(72 * var(--page-height) / var(--layout-height));
  color: #0080C1;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.dialog-difficulty__radio-label span {
  position: absolute;
  pointer-events: none;
}
.dialog-difficulty__button {
  width: calc(246 * var(--page-width) / var(--layout-width));
  height: calc(50 * var(--page-height) / var(--layout-height));
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: calc(24 * var(--page-height) / var(--layout-height));
  line-height: calc(32 * var(--page-height) / var(--layout-height));
  color: #FFFFFF;
  background: #7AC100;
  border-radius: min(12 * var(--page-width) / var(--layout-width), 12 * var(--page-height) / var(--layout-height));
  margin-top: calc(67 * var(--page-height) / var(--layout-height));
  transition: background-color 0.2s linear;
}
.dialog-difficulty__button, .dialog-difficulty__button:focus, .dialog-difficulty__button:hover, .dialog-difficulty__button:active {
  border: none;
  padding: 0;
  outline: none;
}
.dialog-difficulty__button:focus, .dialog-difficulty__button:hover, .dialog-difficulty__button:active {
  background: #98f100;
}

.page {
  width: calc(1024 * var(--page-width) / var(--layout-width));
  height: calc(774 * var(--page-height) / var(--layout-height));
  box-sizing: border-box;
}

.debug {
  box-sizing: border-box;
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */