@import "common/reset";
@import "common/fonts";
@import "common/vars";

@import "tags/base";

@import "functions/scale";

@import "mixins/layout-size";
@import "mixins/layout-font";

@import "adaptive/media";

@import "widgets/base-dialog";
@import "widgets/dialog-difficulty";
@import "widgets/card";
@import "widgets/card-table";
@import "widgets/timer";
@import "widgets/dialog-results";

@import "pages/game";

.page {
    @include layout-size(1024, 774);

    box-sizing: border-box;
}

.debug {
    box-sizing: border-box;
    border: 1px solid black;
}
