@import "common/reset";
@import "common/fonts";
@import "common/vars";

@import "tags/base";

@import "functions/scale";

.page {
    box-sizing: border-box;

}

.dialog {
    background: #C2F5FF;
    border-radius: 12px;
    border: none;
}

.debug {
    box-sizing: border-box;
    border: 1px solid black;
}

@import "adaptive/media";
