@use "sass:math";

$layout-width: 1024;
$layout-height: 774;
$layout-aspect: math.div($layout-width, $layout-height);

// @mixin defineCSSVariable($name, $value) {
//     #{}
// }

:root {
    --layout-width: #{$layout-width};
    --layout-height: #{$layout-height};
    --layout-aspect: #{$layout-aspect};
    --layout-background: #004980;
    --page-width: #{$layout-width};
    --page-height: #{$layout-height};
}
