.dialog {
    @include layout-size(480, 459);
    background: #C2F5FF;
    border-radius: min(scale-width(12), scale-height(12));
    border: none;
    left: 50%;
    top: 50%; 
    margin-left: calc(scale-width(-480) / 2);
    margin-top: calc(scale-height(-459) / 2);
    
    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}